body {
    background-color: rgb(249, 249, 249);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-bottom: 15px;
    background-color: rgb(109, 44, 44);
    padding: 7px;
    color: whitesmoke;
}

img {
    cursor: pointer;
}


header a {
    color: white;
    text-decoration: none;
}

form {

    margin-bottom: 0px;
}


#head {
    float: right;

}

.icons {
    width: 15px;
    height: 15px;
}

nav {
    display: grid;
    grid-template-columns: 10% 40% 25% 25%;
    margin-top: -16px;
    background-color: white;
    border-bottom: 1px solid rgb(240, 240, 240);
    border-left: 1px solid rgb(240, 240, 240);
    border-right: 1px solid rgb(240, 240, 240);
}

nav form input#search {
    margin-left: 5%;
    width: 60%;
    padding: 1%;
    margin-top: 5%;
    margin-left: 15%;
}

#logo {
    width: 100%;
    padding: 3%;
}

div#nav {
    float: right;
    margin-left: 50%;
    margin-top: 10%;
}

div#nav a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

div#nav a:hover {
    color: navy;
}

#ad {
    text-align: center;
    padding: 1% 2%;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    background-color: rgb(109, 44, 44);
    margin-left: 20%;
    margin-top: 2.5%;
    width: 50%;
    height: 70%;
}

h1 {
    text-align: center;

}

#images {
    margin-top: 2%;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

.slideshow-container {
    padding-top: 2%;
    max-width: 80%;
    position: relative;
    margin: auto;
}

div.mySlides.fade {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



footer {
    margin-top: 20px;
    background-color: rgb(2, 26, 40);
    padding: 20px;
    text-align: center;
    color: white;
}