#products{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 2%;
}

.myads{
    width: 80%;
    border-radius: 15px;
    border: 2px solid black;
}

#details{
    margin-left: -10%;
}

#images_grid {
    display: flex;
    flex-flow: column;
}