body {
    background-color: rgba(234, 232, 232, 0.45);
    font-family: Arial, Helvetica, sans-serif;
}

#products{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 2%;
}

.myads{
    width: 80%;
    border-radius: 15px;
    border: 2px solid black;
}

#details{
    margin-left: -10%;
}


header {
    margin-bottom: 15px;
    background-color: rgb(109, 44, 44);
    padding: 7px;
    color: rgb(245, 245, 245);
}

header a {
    color: white;
    text-decoration: none;
}

#head {
    float: right;

}


.icons {
    width: 15px;
    height: 15px;
}

form {

    margin-bottom: 0px;
}
#images_grid {
    display: flex;
    flex-flow: column;
}

nav {
    display: grid;
    grid-template-columns: 10% 40% 25% 25%;
    margin-top: -16px;
    background-color: white;
    border-bottom: 1px solid rgb(240, 240, 240);
    border-left: 1px solid rgb(240, 240, 240);
    border-right: 1px solid rgb(240, 240, 240);
}

div#nav {
    float: right;
    position: absolute;
    right: 60px;
    width: 200px;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

div#nav a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

div#nav a:hover {
    color: navy;
}

nav form input#search {
    margin-left: 5%;
    width: 60%;
    padding: 1%;
    margin-top: 5%;
    margin-left: 15%;
    border: 1px solid lightgray;
}