#modalbox {

    display: grid;
    grid-template-columns: 35% 65%;
    border: 1px solid black;
    /* width: 90%; */

}

.hidden {
    display: none;
}

.product_image {
    padding: 0% 7%;
    width: 60%;
    border-right: 1px solid black;
}

#image1 {
    padding-top: 7%;
    padding-bottom: 7%;
}

#image2 {
    padding-bottom: 7%;

}

#details {
    margin-left: -10%;
}

#remove_from_cart {
    background-color: crimson;

}

.add_to_cart {
    margin-bottom: 5%;
    background-color: lightgreen;
    border-radius: 15px;
    padding: 1% 0%;
    margin-top: 5%;
    font-size: 16px;
    float: right;
    margin-right: 2%;
    width: 15%;
    border: 1px solid black;
}

#images_grid {
    display: flex;
    flex-flow: column;
}

footer {
    margin-top: 20px;
    background-color: rgb(2, 26, 40);
    padding: 20px;
    text-align: center;
    color: white;
    right: 0;
    bottom: 0;
    left: 0;
}

@media(max-width: 800px) {
    #modalbox {
        grid-template-columns: 55% 35%;
    }

    #item_added {
        margin: 0;
        font-size: 30px;
    }

    h3.modal {
        font-size: smaller;
    }

    .add_to_cart {
        float: none;
        width: 100%;
    }
}

@media (max-width: 450px) {
    #modalbox {
        grid-template-columns: 0;
    }

    h3.modal{
        font-size: large;
    }

    img.product_image{
        display: none;
    }

    .add_to_cart {
        width: max-content;
        margin-left: 50px;
        margin-bottom: 20px;
    }

    #details{
        margin-left: 5px;
    }

    i{
        text-transform: uppercase;
    }
}