body {
    background-color: rgba(234, 232, 232, 0.45);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-bottom: 15px;
    background-color: rgb(109, 44, 44);
    padding: 7px;
    color: rgb(245, 245, 245);
}

header a {
    color: white;
    text-decoration: none;
}

#head {
    float: right;

}

.icons {
    width: 15px;
    height: 15px;
}


#formsearch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    text-align: center;
    margin-bottom: 0px;
}

#form_button {
    margin: 2% 47%;
    border-radius: 15px;
    background-color: white;
    border: 1px solid grey;
    padding: 0.5% 2%;
}
#margin_date {
    margin-bottom: 10%;
}
nav {
    display: grid;
    grid-template-columns: 10% 40% 25% 25%;
    margin-top: -16px;
    background-color: white;
    border-bottom: 1px solid rgb(240, 240, 240);
    border-left: 1px solid rgb(240, 240, 240);
    border-right: 1px solid rgb(240, 240, 240);
}

input#search {
    margin-left: 5%;
    width: 60%;
    padding: 1%;
    margin-top: 5%;
    margin-left: 15%;
}

img{
    cursor: pointer;
}

/* .hidden{
    display: none;
} */

#logo {
    width: 100%;
    padding: 3%;
}

#item_added{
    text-align: center;
    color: green;
}


div#nav {
    float: right;
    
    margin-top: 10%;
}

div#nav a {
    
    text-decoration: none;
    color: black;
}

div#nav a:hover {
    color: navy;
}

#ad {
    text-align: center;
    padding: 1% 2%;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    background-color: rgb(109, 44, 44);
    margin-left: 20%;
    margin-top: 2.5%;
    width: 50%;
    height: 70%;
}


#modalbox{
   
    display: grid;
    grid-template-columns: 35% 65%;
    border: 1px solid black;
    /* width: 90%; */
    
}

.product_image{
    padding: 0% 7%;
    width: 60%;
    border-right: 1px solid black;
}

#image1{
    padding-top: 7%;
    padding-bottom: 7%;
}

#image2{
    padding-bottom: 7%;

}

#details{
    margin-left: -10%;
}

#remove_from_cart{
    background-color: crimson;
    
}

.add_to_cart{
    background-color: lightgreen;
    border-radius: 15px;
    padding: 1% 0%;
    margin-top: 5%;
    font-size: 16px;
    float: right;
    margin-right: 2%;
    width: 15%;
    border: 1px solid black;
}

#images_grid{
    display: flex;
    flex-flow: column;
}

footer {
    margin-top: 20px;
    background-color: rgb(2, 26, 40);
    padding: 20px;
    text-align: center;
    color: white;
    right: 0;
    bottom: 0;
    left: 0;
}

.h3modal{
    
    font-weight: bold;
}

