body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    margin-top: 4%;
    font-size: 28px;
    color: darkslategray;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

#box {
    margin-top: 3%;
    margin-left: 37%;
    border: 2px solid black;
    width: 25%;

    border-radius: 15px;
    padding: 10px;

}

form {
    text-align: center;
}

.input {
    border: none;
    border-bottom: 1px solid black;
    padding: 15%;
    font-size: 20px;
    margin-left: -6px;
    background: none;
}



#submit{
    background-color: lightgray;
    border-radius: 15px;
    padding: 1% 1%;
    font-size: 16px;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 20%;
    border: 1px solid black;
}